@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
  font-family: 'Bebas Neue', sans-serif;}

body {
  margin: 0;
}

input {
  border: 0.1px rgba(255, 255, 255, 0.464) solid;
  border-radius: 2px;
}

h2 {
  font-size: 1.6em;
  color: #d66926;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

.app-header {
  margin-top: 0;
  background-image: linear-gradient(to right, #4E4FEB, #242424);
  height: 7vh;
  display: flex;
  align-items: center;
  padding-left: 1.2%;
  text-align: center;
  position: sticky;
  top: 0;
}

.app-title {
  font-size: 2.5em;
}

.app-main {
  margin-left: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.app-aside {
  margin: 40px 0;
  padding: 40px 0;
  border-radius: 8px;
}

.app-forms {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-forms label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-forms h5 {
  margin: 0 1em 0 0;
  font-size: 1.2em;
}

.find-meme {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.find-meme__form {
  display: flex;
  align-items: center;
}

.find-meme__form__left {
  width: 30%;
  margin-right: 60px;
  gap: 4px;
}

.generate-meme {
  display: flex;
  flex-direction: column;
}

.generate-meme__form {
  display: flex;
  align-items: center;
}

.generate-meme__form .form-submit {
  color: rgb(230, 141, 17);
  border: rgba(182, 119, 10, 0.618) solid 1px;
}

.generate-meme__form__left {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 60px;
  gap: 4px;
}

.generate-meme__form__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control {
  width: 14em;
  border: 0.1px rgba(255, 255, 255, 0.464) solid;
  border-radius: 2px;
}

.update-meme {
}

.update-meme__form {
  display: flex;
  align-items: center;
}

.update-meme__form__left {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 60px;
  gap: 4px;
}

.form-submit {
  height: 30px;
  width: 120px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-meme {
}

.delete-meme__form {
  display: flex;
  align-items: center;
}

.delete-meme__form__left {
  width: 30%;
  margin-right: 60px;
  gap: 4px;
}

.delete-meme__form .form-submit {
  color: rgb(240, 69, 69);
  border: rgba(255, 0, 0, 0.36) solid 1px;
}

.single-meme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-meme__image {
  border-radius: 4px;
  width: 500px;
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.485);
}

.line-break {
  margin: 20px 0 0 0;
  height: 1px;
  width: 80%;
  background-image: linear-gradient(to right, #4E4FEB, #242424);
  color: transparent;
  border-right: none;
}

.all-memes {
  margin-left: 16px;
}

.all-memes__title {
  margin-left: 10px;
}

.all-memes__button__show {
  margin: 0 0 20px 10px;
}

.all-memes__button__hide {
  margin: 0 0 20px 8px;
}

.all-memes__gallery {
  display: grid;
  width: 100%;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
}

.all-memes__gallery__single {
  padding: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: #09090c52;
}

.all-memes__gallery__single h4 {
  margin: 16px 0;
}

.all-memes__gallery__single__image {
  width: 300px;
  border-radius: 2px;
  margin-bottom: 10px;
}
