@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html {
  font-family: 'Noto Sans', sans-serif;
}

body {

}

.app-header {
  margin-top: 0;
  background-color: #4E4FEB;
  height: 7vh;
  display: flex;
  align-items: center;
  padding-left: 1.5%;
  text-align: center;
}

.app-title {
  font-size: 2em;
}

.app-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.app-aside {
  margin: 40px 0;
  padding: 40px 0;
  border-radius: 8px;
  width: 600px;
}

.app-forms {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.find-meme {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.find-meme__form {
  display: flex;
  align-items: center;
}

.find-meme__form__left {
  width: 30%;
  margin-right: 60px;
  gap: 4px;
}

.generate-meme {
  display: flex;
  flex-direction: column;
}

.generate-meme__form {
  display: flex;
  align-items: center;
}

.generate-meme__form__left {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 60px;
  gap: 4px;
}

.generate-meme__form__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control {
  width: 190px;
}

.update-meme {
}

.update-meme__form {
  display: flex;
  align-items: center;
}

.update-meme__form__left {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 60px;
  gap: 4px;
}

.form-submit {
  height: 40px;
  width: 120px;
}

.delete-meme {
}

.delete-meme__form {
  display: flex;
  align-items: center;
}

.delete-meme__form__left {
  width: 30%;
  margin-right: 60px;
  gap: 4px;
}

.single-meme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-meme__image {
  border-radius: 4px;
  max-width: 500px;
}

.line-break {
  margin: 20px 0 0 0;
  height: 1px;
  width: 80%;
  background-image: linear-gradient(to right, #4E4FEB, rgba(255, 255, 255, 0));
  color: transparent;
}

.all-memes {
  margin-left: 8px;
}

.all-memes__button__show {
  margin: 0 0 20px 0;
}

.all-memes__gallery {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

.all-memes__gallery__single {
  border: 2px #4e4eeb89 solid;
  padding: 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.all-memes__gallery__single__image {
  width: 300px;
}
